.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid transparent;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  max-height: 80vh;
}