.root {
  animation: scaling .3s ease-in;
}

.main {
  height: 100%;
  display: grid;
  grid: 1fr / var(--sm-breakpoint) 1fr;
  padding-left: 1.5rem;
}




@media only screen and (max-width: 1023px) {
  .root {
    padding: .5rem;
  }
  
  .main {
    display: block;
    height: 100%;
    padding: 0;
    max-width: var(--min-size);
    margin: auto;
  }

}

@keyframes scaling {
  from {transform: scale(0, 0);}
  to {transform: scale(1, 1);}
}

