.root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.bevel {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.animated {
  position: inherit;
  background-color: var(--white);
}

.textured {
  position: inherit;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-size: cover;
}
