.root, .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.root {
  z-index: 1;
  .cell {
    background: rgba(255,255,255,.3);
  }
}

.overlay {
  position: absolute;
  background-color: rgba(255,255,255,0);
  width: 100%;
  height: 100%;
}

.highlight {
  background-color: rgba(0, 0, 255, 0.5);
}