@import './reset.css';
@import './variables.css';
@import '../fonts/fonts.css';
@import './animations.css';

:root {
  --mono-font: 'IBM Plex Mono', monospace;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  background: var(--black);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: var(--mono-font);
  color: var(--color-main);
}

#root {
  height: 100%;
  width: 100%;
}

a {
  color: var(--color-main);
  text-decoration: none;
  outline: none;
}

a:hover {
  color: var(--white);
}

a::before {
  content: "> "
}

a::after {
  content: " <"
}

.animate-centered {
  transform-box: fill-box;
  transform-origin: center;
}
