.root {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* 
.connection {
  position: relative;
  top: 8%;
  left: -1.3rem;
  height: 0px;
  border-top: 1px solid var(--white);
  width: 1.3rem;
  opacity: .5;
} */