.root {
  display: flex;
}

.row {
  max-width: var(--min-size);
}

.users {
  min-width: var(--min-size);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: 3rem;
  padding: 1rem 1.5rem;
  border-left: 1px dotted rgba(var(--color-main-val), .5);
}

.login {
  min-width: var(--min-size);
  align-self: center;
  margin: auto;
}

.logo {
  color: white;
}

.hacked {
  filter: hue(var(--color-danger));
  color: lighten(var(--color-danger-val), 15%);
  border: 1px dotted rgba(var(--color-danger-val), .8);
  &:hover {
    background: rgba(lighten(var(--color-danger-val), 15%), .05);
    border: 1px dotted rgba(var(--color-danger-val), 1);
  }
}