.root {
  display: flex;
  flex-wrap: wrap;
}

.row {
  font-weight: 200;
  outline: none;
  animation: loadingRow .5s ease-in-out;

  &:focus, &:active, &:hover {
    text-decoration: dashed;

    &::before {
      position: absolute;
      bottom: 50%;
      left: .5rem;
      font-size: .75rem;
      content: "> ";
    }

    &::after {
      position: absolute;
      bottom: 50%;
      right: 10%;
      font-size: .75rem;
      content: "---"
    }
  }
}

.users {
  min-width: var(--min-size);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: 3rem;
  padding: .5rem 1.5rem;
  border-left: 1px dotted rgba(var(--color-main-val), .5);
}

.login {
  flex-grow: 1;
  max-width: 640px;
  min-width: var(--min-size);
  margin: auto;
  animation: loadingRow .15s ease-in;
}

.logo {
  color: white;
}

.hacked {
  filter: hue(var(--color-danger));
  color: lighten(var(--color-danger-val), 15%);
  border: 1px dotted rgba(var(--color-danger-val), .8);
  &:hover {
    background: rgba(lighten(var(--color-danger-val), 15%), .05);
    border: 1px dotted rgba(var(--color-danger-val), 1);
  }
}

@keyframes loadingRow {
  from {transform: scaleY(.1);}
  to {transform: scaleY(1);}
}
