.root {
  display: flex;
  flex-wrap: wrap;
}

.row {
  font-weight: 200;
  outline: none;

  &:focus, &:active, &:hover {
    font-weight: 600;
    text-decoration: underline;

    &::before {
      position: absolute;
      bottom: 50%;
      left: .5rem;
      font-size: .75rem;
      content: "> ";
    }

    &::after {
      position: absolute;
      bottom: 50%;
      right: 10%;
      font-size: .75rem;
      content: "---"
    }
  }
}

.users {
  min-width: var(--min-size);
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: 3rem;
  padding: .5rem 1.5rem;
  border-left: 1px dotted rgba(var(--color-main-val), .5);
}

.login {
  min-width: var(--min-size);
  margin: auto;
}

.logo {
  color: white;
}

.hacked {
  filter: hue(var(--color-danger));
  color: lighten(var(--color-danger-val), 15%);
  border: 1px dotted rgba(var(--color-danger-val), .8);
  &:hover {
    background: rgba(lighten(var(--color-danger-val), 15%), .05);
    border: 1px dotted rgba(var(--color-danger-val), 1);
  }
}